<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/mainLayout :: layout ('release-order', ~{::link}, ~{::style}, ~{::script}, ~{::content})}">

<style>
    .content {
        margin-top: 100px;
    }

    .date-type {
        display: flex;
    }

    .date {
        width: 250px !important;
    }
</style>

<script th:inline="javascript">
    window.onload = function () {
        loadList();
    }

    function loadList() {
        const queryString = getQueryString();

        axios.get(`/release-orders${queryString}`)
            .then(function (res) {
                const data = res.data;
                const pageable = data.pageable;
                const number = data.totalElements - (pageable.pageNumber * pageable.pageSize)
                let html = '';

                res.data.content.forEach(function (obj, index) {
                    html += `
                        <tr>
                            <th scope="row">${number - index}</th>
                            <td>${obj.name}</td>
                            <td>${obj.date}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" onclick="moveReleaseOrder(${obj.id})">수정</button>
                            </td>
                        </tr>
                    `;
                });

                document.querySelector('#listTbody').innerHTML = html;
                setPagination(data);
            });
    }

    function moveReleaseOrder(id) {
        location.href = `/page/release-order/${id}`;
    }
</script>

<th:block th:fragment="content">
    <div class="container marketing content">
        <form id="searchForm" onsubmit="return false">
            <div class="row g-3">
                <input type="hidden" id="page" name="page" value="0">
                <input type="hidden" id="size" name="size" value="10">
                <div class="col-sm-3">
                    <input type="search" name="name" class="form-control" placeholder="출고명" aria-label="Search">
                </div>
                <div class="col-sm-4 date-type">
                    <input type="date" name="startDate" class="form-control date" aria-label="Search">
                    ~
                    <input type="date" name="endDate" class="form-control date" aria-label="Search">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" onclick="loadList()">검색</button>
                </div>
            </div>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">출고명</th>
                <th scope="col">출고일</th>
                <th scope="col">기능</th>
            </tr>
            </thead>
            <tbody id="listTbody"></tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div><!-- /.container -->
</th:block>

</html>
