<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="layout (menuName, links, style, script, content)">
<head>
    <meta charset="utf-8">
    <title>코드숨 개인프로젝트</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/carousel/">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- 추가 css -->
    <th:block th:if="${links}">
        <th:block th:replace="${links}"/>
    </th:block>

    <th:block th:if="${style}">
        <th:block th:replace="${style}"/>
    </th:block>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">코드숨</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link obtain-order"
                           th:classappend="${menuName} == 'obtain-order' ? 'active'"
                           th:href="@{/page/obtain-orders}">수주</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link release-order"
                           th:classappend="${menuName} == 'release-order' ? 'active'"
                           th:href="@{/page/release-orders}">출고</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link place-order"
                           th:classappend="${menuName} == 'place-order' ? 'active'"
                           th:href="@{/page/place-orders}">발주</a>
                    </li>
                </ul>
            </div>
            <div class="login">
                <a href="javascript:logout()">로그아웃</a>
            </div>
        </div>
    </nav>
</header>

<main>
    <th:block th:replace="${content}"></th:block>

    <!-- FOOTER -->
    <footer class="container">
        <p>&copy; sejongdeveloper Company, Inc. </p>
    </footer>
</main>

<script th:inline="javascript">

    function logout() {
        alert('로그아웃되었습니다.');
    }

</script>

<!-- 추가 js -->
<th:block th:if="${script}">
    <th:block th:replace="${script}"/>
</th:block>

</body>
</html>