<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layout/mainLayout :: layout ('obtain-order', ~{::link}, ~{::style}, ~{::script}, ~{::content})}">

<style>
    .content {
        margin-top: 100px;
    }

    .menu-right {
        text-align: right;
    }

    .date-type {
        display: flex;
    }

    .date {
        width: 250px !important;
    }
</style>

<script th:inline="javascript">
    window.onload = function () {
        loadList();
    }

    function loadList() {
        const queryString = getQueryString(page);

        axios.get(`/obtain-orders${queryString}`)
            .then(function (res) {
                const data = res.data;
                const pageable = data.pageable;
                const number = data.totalElements - (pageable.pageNumber * pageable.pageSize)
                let html = '';

                res.data.content.forEach(function (obj, index) {
                    html += `
                        <tr>
                            <th scope="row">${number - index}</th>
                            <td>${obj.name}</td>
                            <td>${obj.date}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" onclick="moveObtainOrder(${obj.id})">수정</button>
                                <button type="button" class="btn btn-danger btn-sm" onclick="moveReleaseOrder(${obj.id})">출고</button>
                                <button type="button" class="btn btn-danger btn-sm" onclick="movePlaceOrder(${obj.id})">발주</button>
                            </td>
                        </tr>
                    `;
                });

                document.querySelector('#listTbody').innerHTML = html;
                setPagination(data);
            });
    }

    function moveObtainOrder(id) {
        if (id === undefined) {
            id = '';
        }

        location.href = `/page/obtain-order/${id}`;
    }

    function getQueryString() {
        let queryString = '';

        document.querySelector('#searchForm').querySelectorAll('input').forEach(function (obj, index) {
            if (index === 0) {
                queryString = `?${obj.name}=${obj.value}`;
                return;
            }

            queryString += `&${obj.name}=${obj.value}`;
        });

        return queryString;
    }

    function changePage(page) {
        document.querySelector('#page').value = page;
        loadList();
    }

    function setPagination(data) {
        const pageNumber = data.pageable.pageNumber;
        let previous = '';
        let next = '';

        if (data.first) {
            previous = 'disabled';
        }

        if (data.last) {
            next = 'disabled';
        }

        document.querySelector('.pagination').innerHTML = `
            <li class="page-item ${previous}">
                <a class="page-link" href="javascript:changePage(${pageNumber - 1})">Previous</a>
            </li>
            <li class="page-item ${next}">
                <a class="page-link" href="javascript:changePage(${pageNumber + 1})">Next</a>
            </li>
        `;
    }

    function logout() {
        alert('로그아웃되었습니다.');
    }

    function moveReleaseOrder(id) {
        location.href = `/page/release-order?obtainOrderId=${id}`;
    }

    function movePlaceOrder(id) {
        location.href = `/page/place-order?obtainOrderId=${id}`;
    }
</script>

<th:block th:fragment="content">
    <div class="container marketing content">
        <form id="searchForm" onsubmit="return false">
            <div class="row g-3">
                <input type="hidden" id="page" name="page" value="0">
                <input type="hidden" id="size" name="size" value="10">
                <div class="col-sm-3">
                    <input type="search" name="name" class="form-control" placeholder="수주명" aria-label="Search">
                </div>
                <div class="col-sm-4 date-type">
                    <input type="date" name="startDate" class="form-control date" aria-label="Search">
                    ~
                    <input type="date" name="endDate" class="form-control date" aria-label="Search">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary" onclick="loadList()">검색</button>
                </div>
            </div>
        </form>

        <div class="menu-right">
            <button type="button" class="btn btn-primary" onclick="moveObtainOrder()">등록</button>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">수주명</th>
                <th scope="col">수주일</th>
                <th scope="col">기능</th>
            </tr>
            </thead>
            <tbody id="listTbody"></tbody>
        </table>

        <nav>
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

    </div><!-- /.container -->
</th:block>

</html>
