<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/mainLayout :: layout ('obtain-order', ~{::link}, ~{::style}, ~{::script}, ~{::content})}">

<style>
    .content {
        margin-top: 100px;
    }

    .date {
        width: 250px !important;
    }
</style>

<script th:inline="javascript">
    const items = /*[[${items}]]*/null; //상품 목록
    const OBTAIN_ORDER_ID = /*[[${obtainOrderId}]]*/null;   //수주 일련번호

    window.onload = function () {
        loadObtainOrder();
        init();
    }

    function init() {
        if (OBTAIN_ORDER_ID === null) {
            document.querySelector('.btn-update').style.display = 'none';
            addObtainOrderDetailHtml();
            return;
        }

        document.querySelector('.btn-save').style.display = 'none';
    }

    function loadObtainOrder() {
        if (OBTAIN_ORDER_ID === null) {
            return;
        }

        const url = `/obtain-orders/${OBTAIN_ORDER_ID}`;

        axios.get(url).then(function (response) {
            for (const [key, value] of Object.entries(response.data)) {
                if (key === 'obtainOrderDetails') {
                    loadObtainOrderDetails(value);
                    return;
                }

                document.querySelector(`#${key}`).value = value;
            }
        });
    }

    function loadObtainOrderDetails(data) {
        data.forEach(function (obj) {
            addObtainOrderDetailHtml(obj);
        });
    }

    function addObtainOrderDetailHtml(data) {
        const tr = document.createElement('tr');

        let id = '';
        let quantity = '';
        let item = null;

        if (data !== undefined) {
            if (!data.useYn) {
                return;
            }

            id = data.id;
            quantity = data.quantity;
            item = data.item;
        }

        tr.innerHTML = `
            <tr>
                <th><input type="text" class="form-control" name="id" value="${id}" readonly></th>
                <td>${getItemsHtml(item)}</td>
                <td><input type="text" class="form-control" name="quantity" value="${quantity}"></td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" onclick="remove(this)">-</button>
                    <input type="hidden" name="useYn" value="true">
                </td>
            </tr>
        `;

        document.querySelector('#listTbody').appendChild(tr);
    }

    function getItemsHtml(data) {
        if (items === null) {
            return '';
        }

        let itemId = '';

        if (data !== null) {
            itemId = data.id;
        }

        let html = '<select name="itemId" class="custom-select">';

        items.forEach(function (obj) {
            let selected = '';

            if (obj.id === itemId) {
                selected = 'selected';
            }

            html += `<option value="${obj.id}" ${selected}>${obj.name}</option>`;
        });

        html += '</select>';

        return html;
    }

    function getObtainOrderParam() {
        const obtainOrder = {};

        document.querySelector('#obtainOrderDiv').querySelectorAll('input').forEach(function (elem) {
            obtainOrder[elem.name] = elem.value;
        });

        return obtainOrder;
    }

    function getElemParam(data) {
        const param = {};

        data.querySelectorAll('input, select').forEach(function (elem) {
            param[elem.name] = elem.value;
        });

        return param;
    }

    function getObtainOrderDetailsParam() {
        const obtainOrderDetails = [];

        document.querySelectorAll('#listTbody tr').forEach(function (tr) {
            const obtainOrderDetail = getElemParam(tr);

            obtainOrderDetails.push(obtainOrderDetail);
        });

        return obtainOrderDetails;
    }

    function getParam() {
        const obtainOrder = getObtainOrderParam();

        obtainOrder.obtainOrderDetails = getObtainOrderDetailsParam();

        return obtainOrder;
    }

    function save() {
        const url = '/obtain-orders';
        const param = getParam();

        axios.post(url, param).then(function (response) {
            alert('저장되었습니다.');
            location.href = `/page/obtain-order/${response.data}`;
        });
    }

    function remove(me) {
        const tr = me.closest('tr');
        const id = tr.querySelector('input[name=id]').value;

        if (id !== '') {
            tr.querySelector('input[name=useYn]').value = false;
            tr.style.display = 'none';
            return;
        }

        me.closest('tr').remove();
    }

    function update() {
        const url = `/obtain-orders/${OBTAIN_ORDER_ID}`;
        const param = getParam();

        axios.patch(url, param).then(function () {
            alert('수정되었습니다.');
            location.reload();
        });
    }

    function moveObtainOrder() {
        location.href = '/page/obtain-orders';
    }

</script>

<th:block th:fragment="content">
    <div class="container content">

        <div class="row">

            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">수주상세</h4>
                <div id="obtainOrderDiv">
                    <div class="mb-3">
                        <label for="id">식별자</label>
                        <input type="text" class="form-control" id="id" name="id" readonly>
                    </div>

                    <div class="mb-3">
                        <label for="name">수주명</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="수주명">
                    </div>

                    <div class="mb-3">
                        <label for="date">수주일</label>
                        <input type="date" class="form-control date" id="date" name="date" placeholder="수주명">
                    </div>
                </div>

                <hr class="mb-4">

                <table class="table">
                    <thead>
                    <tr>
                        <th>식별자</th>
                        <th>품목</th>
                        <th>수량</th>
                        <th>
                            <button type="button" class="btn btn-primary btn-sm" onclick="addObtainOrderDetailHtml()">+</button>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="listTbody"></tbody>
                </table>

                <hr class="mb-4">
                <button type="button" class="btn btn-primary btn-save" onclick="save()">등록</button>
                <button type="button" class="btn btn-primary btn-update" onclick="update()">수정</button>
                <button type="button" class="btn btn-secondary btn-update" onclick="moveObtainOrder()">목록</button>
            </div>
        </div>
    </div>
</th:block>

</html>
